.dplHeader {
  padding: 0 var(--space-16);
  height: var(--space-64);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  background-color: var(--color-background);
  transition: height 175ms ease-out;

  h1 {
    transform-origin: left center;
    transition: transform 175ms ease-out;
  }

  &.scrolled {
    height: var(--space-32);
    border-bottom: 1px solid var(--color-barely);

    h1 {
      transform: scale(0.8);
    }
  }
}

.dplList {
  margin: 0;
  list-style: none;
  padding: 0;
  padding: 0 var(--space-16);
  display: flex;
  flex-direction: column;
}

.dplLine {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-top: var(--space-16);
  padding-bottom: var(--space-16);
  gap: var(--space-16);
  border-bottom: 1px solid var(--color-barely);
}

.statusCircle {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 9999px;
}

.commitMessage,
.commitRef,
.projectProps {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-small);
}

.commitMessage {
  margin-bottom: var(--space-4);
  font-size: var(--font-body);
}

.commitRef {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  margin-bottom: var(--space-4);
  h5 {
    font-size: var(--font-small);
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .dplId {
    flex: 1;
    font-weight: 500;
    overflow: hidden;
  }

  .dplCommitRefText {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  svg {
    flex-shrink: 0;
  }
}

.projectProps {
  font-size: var(--font-small);
  color: var(--color-muted);

  .projectName {
    font-weight: 700;
    margin-right: var(--space-4);
  }
}

.dplSidebar {
  width: var(--space-160);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-8);
}

.dplInfo {
  display: flex;
  align-items: center;
  gap: var(--space-8);
}

.dplState {
  display: flex;
  align-items: center;
  gap: var(--space-8);

  p {
    font-weight: 500;
    text-transform: capitalize;
  }
}
