.button {
  padding: var(--space-6) var(--space-16);
  background-color: var(--color-foreground);
  color: var(--color-background);
  border-radius: var(--radius-small);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--font-small);
}
