.loginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-4);
}

.tokenInput {
  padding: var(--space-6) var(--space-8);
  border-radius: var(--radius-small);
}

.formStep {
  display: flex;
  align-items: flex-start;
  gap: var(--space-16);
  position: relative;

  p,
  label {
    color: var(--color-muted);
  }

  .formDigit {
    position: absolute;
    left: calc(var(--space-32) * -1.2);
    display: grid;
    place-items: center;
    font-size: 1rem;
    flex-shrink: 0;
    height: var(--space-24);
    width: var(--space-24);
    color: var(--color-foreground);
    border: 1px solid var(--color-faintly);
    border-radius: var(--radius-full);
  }

  .formStepTitle {
    margin-bottom: var(--space-4);
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.formRow {
  display: flex;
  gap: var(--space-8);
}
