.selectButtonInnerText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.selectButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--space-8);
  color: var(--color-foreground);
  border: 1px solid var(--color-faintly);
  border-radius: var(--radius-small);
  padding: var(--space-6) var(--space-8);
}

.select {
  position: absolute;
  list-style: none;
  background-color: var(--color-background);
  color: var(--color-foreground);
  border: 1px solid var(--color-faintly);
  border-radius: var(--radius-small);
  padding: var(--space-4);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  margin-top: var(--space-4);
  z-index: 5;
}

.selectItem {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  border-radius: 3px;
  padding: var(--space-6) var(--space-16);
  cursor: pointer;
  transition: background-color 175ms ease-in-out;
}
