.header {
  position: sticky;
  top: 0;
  background-color: black;
  padding: var(--space-8) var(--space-16);
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.logo {
  color: white;
}
