.sidebar {
  background-color: var(--color-background);
  overflow-y: auto;
  padding: var(--space-16);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.innerSidebar {
  width: 10rem;
  display: flex;
  flex-flow: column;
}
