@import './styles/modern-normalize.css';
@import './styles/animations.scss';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('./fonts/Inter/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/Inter/Inter-Medium.woff2') format('woff2'),
    url('./fonts/Inter/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('./fonts/Inter/Inter-Bold.woff') format('woff');
}

:root {
  --space-4: 0.375rem;
  --space-6: 0.375rem;
  --space-8: 0.5rem;
  --space-16: 1rem;
  --space-32: 2rem;
  --space-64: 4rem;
  --space-128: 8rem;
  --space-160: 10rem;

  --radius-small: 4px;

  --color-background: #fff;
  --color-foreground: #000;
  --color-muted: #888;
  --color-faintly: #ddd;
  --color-barely: #eee;

  --color-cyan: #50e3c2;
  --color-red: #e00;
  --color-orange: #f5a623;

  --font-small: 0.9rem;
  --font-body: 1rem;
  --font-title: 1.25rem;

  @media (prefers-color-scheme: dark) {
    --color-background: #000;
    --color-foreground: #fff;
    --color-muted: #888;
    --color-faintly: #444;
    --color-barely: #222;
  }

  [data-theme='dark'] {
    --color-background: #000;
    --color-foreground: #fff;
    --color-muted: #888;
    --color-faintly: #444;
    --color-barely: #222;
  }
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-foreground);
}

h1 {
  margin: 0;
  font-size: var(--font-title);
}

h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 500;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
